tema2_xml/03_XML SCHEMA/00_pruebas/02_libro.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<!-- definiendo el tipo
<xs:element name="libro" type="tipo_libro"/>

<xs:complexType name="tipo_libro">
  <xs:all>
    <xs:element name="titulo" type="xs:string" />
    <xs:element name="autor" type="xs:string" />
    <xs:element name="editorial" type="xs:string" />
  </xs:all>
</xs:complexType>
-->
<xs:element name="libro">
    <xs:complexType>
        <xs:all>
            <xs:element name="titulo" type="xs:string" />
            <xs:element name="autor" type="xs:string" />
            <xs:element name="editorial" type="xs:string" />
        </xs:all>
    </xs:complexType>
</xs:element>

</xs:schema>